/* .DrawerToggle {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;

}

.DrawerToggle div {
  width: 90%;
  height: 3px;
  margin: 0.3rem;
  background-color: black;
} */


.BreadCrumb{
  display: none;
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;

  /* display: flex; */
  /* grid-gap: 0.5rem; */
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.bread{
  width: 100%;
  height: 7px;
  background-color: #034552;

}

@media(max-width:767px){
.BreadCrumb{
  display: flex;
  float: right;
}

}


